.album-image {
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  background: #f9f9f9;
  max-width: 100%;
}

.album-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}